<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main profile">
  {{> flash}}

  <div class="row page-header">
    <h1 class="page-title">Sam's Birthday Party <span class="label label-warning">Host</span></h1> 
  </div>

   <div class="event-webhook">
    <h6><strong>Eventbrite Web Hook</strong></h6>
    <textarea placeholder="" class="input-xlarge" value="" disabled></textarea>
  </div>

  <div class="event-details">
    <h3>Details</h3>
    <p><span class="fui-calendar"></span> June 7, 2015 at 7:30pm</p>
    <p><span class="fui-location"></span> The Inn Opryland<br/>2401 Music Valley Dr<br/>Nashville, TN 37214 </p>
  </div>

  <div class="event-attendees">
    <h3>Who's Coming</h3>
    <ul>
      <li>
      <img src="https://graph.facebook.com/3574906211688/picture?type=large" class="profile-pic" alt="Alicia Hurst | Pizzafy" data-toggle="tooltip" data-placement="top" title="Alicia" /> 
      </li>
      <li><img src="https://graph.facebook.com/3574906211688/picture?type=large" class="profile-pic" alt="Alicia Hurst | Pizzafy" data-toggle="tooltip" data-placement="top" title="Alicia" /> </li>
      <li><img src="https://graph.facebook.com/3574906211688/picture?type=large" class="profile-pic" alt="Alicia Hurst | Pizzafy" data-toggle="tooltip" data-placement="top" title="Alicia" /> </li>
      <li><img src="https://graph.facebook.com/3574906211688/picture?type=large" class="profile-pic" alt="Alicia Hurst | Pizzafy" data-toggle="tooltip" data-placement="top" title="Alicia" /> </li>
      <li><img src="https://graph.facebook.com/3574906211688/picture?type=large" class="profile-pic" alt="Alicia Hurst | Pizzafy" data-toggle="tooltip" data-placement="top" title="Alicia" /> </li>
      <li><img src="https://graph.facebook.com/3574906211688/picture?type=large" class="profile-pic" alt="Alicia Hurst | Pizzafy" data-toggle="tooltip" data-placement="top" title="Alicia" /> </li>
      <li><img src="https://graph.facebook.com/3574906211688/picture?type=large" class="profile-pic" alt="Alicia Hurst | Pizzafy" data-toggle="tooltip" data-placement="top" title="Alicia" /> </li>
      <li><img src="https://graph.facebook.com/3574906211688/picture?type=large" class="profile-pic" alt="Alicia Hurst | Pizzafy" data-toggle="tooltip" data-placement="top" title="Alicia" /> </li>
    </ul>
  </div>

{{> recommendation}}

</div> <!--cols main-->
