<body style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: 'Arial', 'Helvetica', sans-serif; width: 100% !important; background: white; margin: 0px; padding: 0px;" bgcolor="white"><style type="text/css">
  @media only screen and (max-width: 480px) {
    table[class="content-table"] {
      width: 320px !important;
    }
    td[class="header-block-l"] {
      padding-top: 10px !important; padding-right: 0px !important; padding-bottom: 0px !important; padding-left: 0px !important; display: block !important; text-align: center !important; width: 320px !important;
    }
    td[class="header-block-r"] {
      padding-top: 0px !important; padding-right: 0px !important; padding-bottom: 20px !important; padding-left: 0px !important; display: block !important; width: 320px !important;
    }
    td[class="hbr"] {
      text-align: center !important;
    }
    td[class="video-subject"] {
      padding-top: 35px !important; padding-right: 30px !important; padding-bottom: 0px !important; padding-left: 30px !important; font-size: 20px !important; line-height: 23px !important;
    }
    td[class="video-description"] {
      padding-top: 15px !important; padding-right: 20px !important; padding-bottom: 20px !important; padding-left: 20px !important;
    }
    td[class=video-image] {
      width: 320px !important;
    }
    td[class=video-image] img {
      width: 320px !important;
    }
    td[class="footer-block-l"] {
      display: block !important; width: 320px !important;
    }
    td[class="footer-block-r"] {
      padding-top: 30px !important; padding-right: 0px !important; padding-bottom: 0px !important; padding-left: 0px !important; display: block !important; width: 320px !important;
    }
    td[class="company-name"] {
      text-align: center !important;
    }
    td[class="address"] {
      text-align: center !important;
    }
    td[class="edit"] {
      text-align: center !important;
    }
    td[class="unsub"] {
      text-align: center !important;
    }
    *[class="is-mobile"] {
      display: block !important; max-height: none !important;
    }
    *[class="is-desktop"] {
      display: none; max-height: 0px; overflow: hidden;
    }
  }
</style>
<table bgcolor="#ffffff" width="100%" cellspacing="0" cellpadding="0" border="0" class="table-body" style="line-height: 100%; width: 100%; margin: 0; padding: 0;"><tr><td align="center" style="border-collapse: collapse;">
  <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" class="content-table"><tr><td height="10" class="page-break" bgcolor="#ffffff" style="border-collapse: collapse; line-height: 10px; mso-line-height-rule: exactly;">
    <br style="visibility: hidden;" /></td>
  </tr><tr><td style="border-collapse: collapse;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7"><tr><td align="center" style="border-collapse: collapse;">
    <table width="580" border="0" cellspacing="0" cellpadding="0" class="content-table"><tr><td width="150" valign="middle" class="header-block-l" style="border-collapse: collapse; padding: 10px 0px 0px 10px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="center" style="border-collapse: collapse;">
        <a href="changeme" style="color: black; text-decoration: underline;"><!--CHANGEME AND DELETE THIS COMMENT--><img src="http://pizzafy.me/images/pizzafylogo-red.png" alt="" width="150" class="image-fix" style="-ms-interpolation-mode: bicubic; display: block; outline: none; text-decoration: none; border: none;" /></a>
      </td>
    </tr></table></td>
    <td class="header-block-r" valign="middle" style="border-collapse: collapse; padding: 10px 10px 10px 0px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="hbr" style="border-collapse: collapse; color: #cbd0d6; letter-spacing: 1px; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 14px; font-weight: bold; line-height: 14px; mso-line-height-rule: exactly; text-align: right; text-decoration: none;" align="right">
      </td>
    </tr></table></td>
  </tr></table></td>
</tr></table><div class="is-desktop">
<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#F7F7F7" height="1"><tr><td class="g-spacer" style="border-collapse: collapse; display: block; height: 1px; max-height: 1px; min-width: 600px; width: 600px;">
 <!-- DO NOT CHANGE PLEASE DELETE THIS COMMENT--><img src="g-spacer.gif" alt="" width="600" height="1" border="0" style="-ms-interpolation-mode: bicubic; outline: none; text-decoration: none;" /></td>
</tr></table></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="content-table"><tr><td bgcolor="#fff" valign="top" style="border-collapse: collapse;">
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="center" valign="top" class="video-description" style="border-collapse: collapse; color: #363945; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 16px; font-weight: 300; line-height: 28px; mso-line-height-rule: exactly; text-decoration: none; padding: 25px 25px 30px;">
  <!--CHANGEME AND DELETE THIS COMMENT-->Dear [PERSON],
</td>
</tr>
<tr><td align="center" valign="top" class="video-description" style="border-collapse: collapse; color: #363945; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 16px; font-weight: 300; line-height: 28px; mso-line-height-rule: exactly; text-decoration: none; padding: 25px 25px 30px;">
  <!--CHANGEME AND DELETE THIS COMMENT-->Thank you for registering through [Meetup or Eventbrite] for [eventName] on [Date Extended]! We’ll be serving pizza at the event. Please fill out your pizza preferences at pizzafy.me, and we’ll try to get what you love on the table!
</td>
</tr>
<tr><td align="center" valign="top" class="video-description" style="border-collapse: collapse; color: #363945; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 16px; font-weight: 300; line-height: 28px; mso-line-height-rule: exactly; text-decoration: none; padding: 25px 25px 30px;">
  <!--CHANGEME AND DELETE THIS COMMENT-->Thanks! <br /> [ORGANIZER'S NAME]
</td>
</tr></table></td>
</tr></table><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="center" valign="top" bgcolor="#fff" class="video-cta" style="border-collapse: collapse; padding: 30px 0px;">
<table align="center" valign="top" cellspacing="0" cellpadding="0" border="0"><tr><td align="center" width="230" height="52" bgcolor="#1abc9c" class="button-wrapper" style="-moz-border-radius: 7px; -webkit-border-radius: 7px; background-clip: padding-box; border-collapse: collapse; border-radius: 7px; color: white; display: block;">
  <a href="#" class="inner-button" style="color: black; display: inline-block; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 17px; line-height: 50px; text-decoration: none; width: 100%;"><span style="color: white;">Go to Pizzafy</span></a>
</td>
</tr></table></td>
</tr></table><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="footer-padding" style="border-collapse: collapse; padding: 30px 0px 20px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="footer-block-l" style="border-collapse: collapse;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="left" valign="top" class="company-name" style="border-collapse: collapse;">
    <span class="footer-text" style="color: #cbd0d6; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 15px; font-weight: normal; line-height: 15px; mso-line-height-rule: exactly; text-decoration: none;"><b>Pizzafy</b></span>
  </td>
</tr><tr><td align="left" valign="top" class="address" style="border-collapse: collapse; padding: 10px 0px 0px;">
<span class="address-text" style="color: #cbd0d6; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 15px; font-weight: normal; line-height: 20px; mso-line-height-rule: exactly; text-decoration: none;">A Startup Bus Project<br />New York Bus 2015</span>
</td>
</tr></table></td>
<td class="footer-block-r" style="border-collapse: collapse;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="right" valign="top" class="edit" style="border-collapse: collapse;">
    <span class="footer-text" style="color: #cbd0d6; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 15px; font-weight: normal; line-height: 15px; mso-line-height-rule: exactly; text-decoration: none;"><a href="changemehangeme" style="color: #cbd0d6; text-decoration: underline;">Edit Preferences</a></span>
  </td>
</tr><tr><td align="right" valign="top" class="unsub" style="border-collapse: collapse; padding: 10px 0px 0px;">
<span class="unsub-text" style="color: #cbd0d6; font-family: 'Arial', 'Helvetica', sans-serif; font-size: 15px; font-weight: normal; line-height: 15px; mso-line-height-rule: exactly; text-decoration: none;"><a href="changemehangeme" style="color: #cbd0d6; text-decoration: underline;">Unsubscribe</a></span>
</td>
</tr></table></td>
</tr></table></td>
</tr></table></td>
</tr><tr><td height="10" class="page-break" bgcolor="#ffffff" style="border-collapse: collapse; line-height: 10px; mso-line-height-rule: exactly;">
<br style="visibility: hidden;" /></td>
</tr></table></td>
</tr></table></body>