<div class="recommendation-container">

  <h3>Recommended Order</h3>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="pizza-container">
          <img src="/images/chickenbacon.png" class="rec-img" />
        </div>
        <div class="caption">
          <h3>x<span class="pizza-count">1</span></h3>
          <span class="label label-info">chicken + bacon</span>
         <span class="label label-empty">none none none</span>
          <p></p>
          <p class="diet-empty"><strong>empty</strong></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="pizza-container">
          <img src="/images/mushroomstomatoes.png" class="rec-img" />
        </div>
        <div class="caption">
          <h3>x<span class="pizza-count">1</span></h3>
          <span class="label label-info">mushrooms + tomatoes</span>
          <span class="label label-empty">none none none</span>
           <p></p>
          <p><strong>vegan</strong></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="pizza-container">
          <img src="/images/halfpizza.png" class="rec-img" />
        </div>
        <div class="caption">
          <h3>x<span class="pizza-count">1</span></h3>
          <span class="label label-info">bacon + olives</span>
          <span class="label label-primary">bacon + chicken</span>
          <p></p>
          <p><strong>gluten-free</strong></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="pizza-container">
          <img src="/images/pepperonionion.png" class="rec-img" />
        </div>
        <div class="caption">
          <h3>x<span class="pizza-count">3</span></h3>
          <span class="label label-info">pepperoni + onions</span>
          <span class="label label-empty">none none none</span>
           <p></p>
          <p class="diet-empty"><strong>empty</strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row bottom">
    <div class="order-total col-md-6">
      <h4>Total Pizzas for this order <span class="label label-default">6</span></h4>
    </div>
    <div class="food-thought col-md-6">
      <h4>Food for Thought</h4>
      <p><strong>Average Pizza Number of this party</strong><span class="label label-default">3</span></p>
      <p><strong>Favorite topping at this party</strong><span class="label label-default">Bacon</span></p>
      <p><strong>Nobody at your party likes</strong><span class="label label-default">Peppers</span></p>
    </div>
  </div>
  <div class="buy-now">
    <a href="#" id="buy-now" class="btn btn-block btn-lg btn-primary buy-btn">Place your order</a>
  </div>
</div>
