<div class="login-form">

  <div class="login-form">

    <div class="form-group">
      <a href="/auth/twitter" class="btn btn-block btn-lg btn-info" style="width: 100%">Join With Twitter</a>
    </div>

    <div class="form-group">
      <a href="/auth/facebook" class="btn btn-block btn-lg btn-primary" style="width: 100%">Join With Facebook</a>
    </div>
    <form action="/auth/local/signup" method="POST">
      <div class="form-group">
        <input type="text" name="email" class="form-control login-field" value="" placeholder="Enter your email" id="login-name" />
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="form-group">
        <input type="password" name="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <div class="form-group">
        <input type="password" name="passwordConfirmation" class="form-control login-field" value="" placeholder="Confirm your password" id="login-pass" />
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <input type="hidden" name="_csrf" value="{{_csrf}}">
      <button type="submit" id="submit" name="submit" class="btn btn-block btn-lg btn-inverse">Sign up</button>
    </form>
  </div>
</div>
