.navbar {
	background: #f7f7f7;
}

.navbar-brand {
	text-indent: -99999px;
	padding: 10px 15px;
}

.social-button {
  width: 100%;
}

img {
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: 100%;
	border: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}
.username, .pizza-number {
	display: inline-block;
}

.edit_profile-pic {
	display: block;
	font-size: 14px;
}

.profile-pic {
	border-radius: 50%;
	width: auto;
	height: 100px;
	padding: 5px;
	border: 1px solid #f7f7f7;
	display: inline-block;
}

input:disabled, textarea:disabled {
  background: #cfcfcf;
}

.page-title {
	display: inline-block;
	margin: 0 0 0 10px;
	line-height: 1.2;
	vertical-align: middle;
}

@media (max-width: 1000px) {
	.profile-pic {
		display: block;
		margin: 0 auto;
	}
	.page-title {
		display: block;
		text-align: center;
	}
}

.basics > div {
	padding-left: 0;
	padding-right: 0;
}
.profile input {
	font-size: 14px;
}

.dob, .gender {
	margin-bottom: 2rem;
}
.page-header {
	margin-bottom: 10px;
	vertical-align: middle;
}

.form-horizontal .control-label {
	text-align: left;
}

.dob div {
	display: inline-block;
}

.dob .control-label {
	display: block;
}

.dob .controls {

}

.input-mini {
	width: 50px;
}

.group-title {
	display: block;
	font-weight: bold;
}

.toppings-love .checkbox, .crust-prefs .radio {
	display: inline-block;
	width: 33%;
}

@media (max-width:900px) {
	.toppings-love .checkbox, .crust-prefs .radio {
	width: 49%;
	}
}

#hates {
	width: 90%;
}

.toppings-hate {
	margin-top: 3rem;
}
.notes textarea {
	width: 100%;
	height: 100px;
}

h3 {
	margin-top: 5rem;
}

h3:first-of-type {
	margin-top: 40px;
}

.submit-div {
	margin-top: 3rem;
	margin-bottom: 6rem;
}

.event-attendees ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.event-attendees li {
	display: inline-block;
}

.event-attendees img {
	height: 60px;
	width: auto;
}

.event-webhook textarea {
	width: 75%;
}

.thumbnail {
	border: 0;
	background: #f7f7f7;
}

.pizza-container {
	text-align: center;
	padding-top: 1rem;
}

.caption {
	text-align: center;
}

.caption h3 {
	margin-top: 0;
}

.full-circle {
    height:150px;
    width:150px;
    display: inline-block;
    -webkit-border-radius:75px;
    -moz-border-radius:75px;
}

.half-circle {
    height:150px;
    width: 75px;
    -moz-border-radius: 150px 0 0 150px;
    border-radius: 150px 0 0 150px;
    display: inline-block;
    margin-right: 5px;
}

.half-circle-2 {
    height:150px;
    width: 75px;
   border-radius: 0 150px 150px 0;
    border-radius: 0 150px 150px 0;
    display: inline-block;
}

.half-circle, .caption .label-primary {
	background-color: #E67E22
}

.full-circle, .half-circle-2, .caption .label-info {
	background-color: #E74C3C
}
.pizza-count {
	padding: 5px 10px;
	background: white;
	margin-left: 10px;
}

.food-thought .label-default {
	background: transparent;
	border: 1px solid;
	margin-left: 10px;
	color: inherit;
}

.bottom {
	border-top: 1px solid;
	padding: 2rem 0;
	margin-top: 4rem;
}

.buy-now {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 6rem;
}

.buy-btn {
	max-width: 300px;
	margin: 0 auto;
}

.label-empty, .diet-empty {
	visibility: hidden;
}

body {
	position: relative;
}

#success {
	position: fixed;
	min-height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	color: white;
	padding: 10% 20%;
	text-align: center;
  display: none;
}

.success h1, .success h3, .success h4 {
	text-align: center;
}

.success h1 {
	font-size: 8vw;
	letter-spacing: 3px;
	color: #2ECC71;
}

.x-success {
	position: absolute;
	right: 20%;
	top: 0;
	font-size: 8vw;
}

.x-success a {
	color: #3498DB;
}

.success-btn {
	background-color: #3498DB !important;
	display: inline-block;
	width: auto;
	margin-top: 4rem;
}

@media (max-width: 1000px) {
	.success {
		position: absolute;
	}
}
